@page "/"

@inject IStringLocalizer<Resources.Pages.Index> Localizer

<AuthorizeView>
	<Authorized>
		<PageLayout PageTitle="KITT - Console">
			<PageContent>
                <Loader Loading="loading">
                    <FluentGrid>
                        @if (model.StreamingStats is not null)
                        {
                            <FluentGridItem xs="12" md="6">
                                <FluentCard>
                                    <FluentStack Style="margin-bottom:1rem;" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentLabel Typo="Typography.H3" Color="Color.Success">@model.StreamingStats.NumberOfStreamingsScheduled</FluentLabel>
                                        <FluentLabel Typo="Typography.H4">@Localizer[nameof(Resources.Pages.Index.LivesScheduledLabel)]</FluentLabel>
                                    </FluentStack>

                                    <FluentStack Style="margin-bottom:1rem;" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentLabel Typo="Typography.H3" Color="Color.Accent">@model.StreamingStats.NumberOfStreamingsDelivered</FluentLabel>
                                        <FluentLabel Typo="Typography.H4">@Localizer[nameof(Resources.Pages.Index.LivesDeliveredLabel)]</FluentLabel>
                                    </FluentStack>
                                    
                                    <FluentAnchor Appearance="Appearance.Accent"
                                                  Href="streamings">
                                        @Localizer[nameof(Resources.Pages.Index.ViewStreamingsButtonText)]
                                    </FluentAnchor>
                                </FluentCard>
                            </FluentGridItem>
                        }

                        @if (model.ProposalStats is not null)
                        {
                            <FluentGridItem xs="12" md="6">
                                <FluentCard>
                                    <FluentStack Style="margin-bottom:1rem;" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentLabel Typo="Typography.H3" Color="Color.Success">@model.ProposalStats.NumberOfProposalAccepted</FluentLabel>
                                        <FluentLabel Typo="Typography.H4">@Localizer[nameof(Resources.Pages.Index.ProposalsAcceptedLabel)]</FluentLabel>
                                    </FluentStack>

                                    <FluentStack Style="margin-bottom:1rem;" VerticalAlignment="VerticalAlignment.Center">
                                        <FluentLabel Typo="Typography.H3" Color="Color.Accent">@model.ProposalStats.TotalNumberOfProposals</FluentLabel>
                                        <FluentLabel Typo="Typography.H4">@Localizer[nameof(Resources.Pages.Index.ProposalsLabel)]</FluentLabel>
                                    </FluentStack>

                                    <FluentAnchor Appearance="Appearance.Accent"
                                                  Href="proposals">
                                        @Localizer[nameof(Resources.Pages.Index.ViewProposalsButtonText)]
                                    </FluentAnchor>
                                </FluentCard>
                            </FluentGridItem>
                        }
                    </FluentGrid>

                    @*<MudGrid>
                        @if (model.StreamingStats is not null)
                        {
                            <MudItem xs="12" md="6">
                                <MudPaper Class="pa-4" Elevation="2">
                                    <div class="d-flex flex-row align-items-center flex-grow-1 mt-2">
                                        <MudText Typo="Typo.h3" Color="Color.Success" Class="flex-grow-0">@model.StreamingStats.NumberOfStreamingsScheduled</MudText>
                                        <MudText Typo="Typo.h4" Class="flex-grow-1 ml-2">@Localizer[nameof(Resources.Pages.Index.LivesScheduledLabel)]</MudText>
                                    </div>

                                    <div class="d-flex flex-row align-items-center flex-grow-1 mt-2">
                                        <MudText Typo="Typo.h3" Color="Color.Primary" Class="flex-grow-0">@model.StreamingStats.NumberOfStreamingsDelivered</MudText>
                                        <MudText Typo="Typo.h4" Class="flex-grow-1 ml-2">@Localizer[nameof(Resources.Pages.Index.LivesDeliveredLabel)]</MudText>
                                    </div>

                                    <MudDivider />
                                    <MudButton Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               FullWidth="true"
                                               Class="mt-2"
                                               Href="streamings">
                                        @Localizer[nameof(Resources.Pages.Index.ViewStreamingsButtonText)]
                                    </MudButton>
                                </MudPaper>
                            </MudItem>
                        }

                        @if (model.ProposalStats is not null)
                        {
                            <MudItem xs="12" md="6">
                                <MudPaper Class="pa-4" Elevation="2">
                                    <div class="d-flex flex-row align-items-center flex-grow-1 mt-2">
                                        <MudText Typo="Typo.h3" Color="Color.Success" Class="flex-grow-0">@model.ProposalStats.NumberOfProposalAccepted</MudText>
                                        <MudText Typo="Typo.h4" Class="flex-grow-1 ml-2">@Localizer[nameof(Resources.Pages.Index.ProposalsAcceptedLabel)]</MudText>
                                    </div>

                                    <div class="d-flex flex-row align-items-center flex-grow-1 mt-2">
                                        <MudText Typo="Typo.h3" Color="Color.Primary" Class="flex-grow-0">@model.ProposalStats.TotalNumberOfProposals</MudText>
                                        <MudText Typo="Typo.h4" Class="flex-grow-1 ml-2">@Localizer[nameof(Resources.Pages.Index.ProposalsLabel)]</MudText>
                                    </div>

                                    <MudDivider />
                                    <MudButton Variant="Variant.Outlined"
                                               Color="Color.Primary"
                                               FullWidth="true"
                                               Class="mt-2"
                                               Href="proposals">
                                        @Localizer[nameof(Resources.Pages.Index.ViewProposalsButtonText)]
                                    </MudButton>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>*@
                </Loader>
			</PageContent>
		</PageLayout>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>
