@page "/settings"

@inject ISettingsClient Client
@inject IStringLocalizer<Resources.Pages.Settings> Localizer

@attribute [Authorize]

<PageLayout PageTitle="@Localizer[nameof(Resources.Pages.Settings.PageTitle)]">
	<Toolbar>
        <a href="settings/new" class="btn btn-primary">@Localizer[nameof(Resources.Pages.Settings.CreateNewSettingsLabel)]</a>
    </Toolbar>
    <PageContent>
        <div class="row">
            <div class="col">
                @if (model.Items is null)
                {
                    <h2>@Localizer[nameof(Resources.Pages.Settings.NoSettingsConfiguredMessage)]</h2>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Localizer[nameof(Resources.Pages.Settings.TwitchChannelLabel)]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in model.Items)
                            {
                                <tr>
                                    <td>@item.TwitchChannel</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </PageContent>
</PageLayout>

@code {
    private SettingsListModel model = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        model = await Client.GetAllSettingsAsync();
    }
}
