@page "/streamings"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IStreamingsClient Client
@attribute [Authorize]

<PageLayout PageTitle="My streamings">
    <Toolbar>
        <a href="streamings/schedule" class="btn btn-primary">Schedule new streaming</a>
    </Toolbar>
    <PageContent>
        <div class="row">
            <div class="col">
                @if (model.Items is null)
                {
                    <h2>No streamings here :(</h2>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Twitch link</th>
                                <th>YouTube link</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var live in model.Items)
                            {
                                <tr>
                                    <td>@live.Title</td>
                                    <td>@live.ScheduledOn.ToShortDateString()</td>
                                    <td>@live.StartingTime.ToString("HH:mm") - @live.EndingTime.ToString("HH:mm")</td>
                                    <td><a href="@live.HostingChannelUrl" target="_blank">link</a></td>
                                    <td><a href="@live.YouTubeVideoUrl" target="_blank">link</a></td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                            <button type="button" class="btn btn-outline-primary">
                                                <span class="oi oi-pencil"></span> Edit
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary">
                                                <span class="oi oi-calendar"></span> Schedule
                                            </button>
                                            <button type="button" class="btn btn-outline-danger">
                                                <span class="oi oi-trash"></span> Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </PageContent>
</PageLayout>

@code {
    private StreamingsListModel model = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            model = await Client.GetAllStreamingsAsync();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
