@page "/settings/channels"

<PageTitle>KITT - Connected channels</PageTitle>

<SectionContent SectionName="@SectionNames.PageTitleSectionName">
    Connected channels
</SectionContent>

<SectionContent SectionName="@SectionNames.ToolbarSectionName">
    <FluentButton Type="ButtonType.Button"
                  Appearance="Appearance.Accent"
                  IconStart="@(new Icons.Filled.Size20.Add())"
                  OnClick="OpenAddNewChannelPanelAsync">
        Add new channel
    </FluentButton>
    <FluentButton Type="ButtonType.Button"
                  Appearance="Appearance.Outline"
                  IconStart="@(new Icons.Filled.Size20.ArrowClockwise())"
                  OnClick="LoadConnectedChannelsAsync">
        Refresh
    </FluentButton>
</SectionContent>

<Loader Loading="loading">
    <FluentGrid>
        @foreach (var channel in channels)
        {
            <FluentGridItem xs="12" md="3">
                <FluentCard>
                    <h4>@channel.Name</h4>
                    <p>@channel.Url</p>

                    <FluentStack Orientation="Orientation.Horizontal">
                        <FluentButton Type="ButtonType.Button"
                                      Appearance="Appearance.Accent"
                                      IconStart="@(new Icons.Filled.Size20.Edit())"
                                      OnClick="@(() => OpenEditChannelPanelAsync(channel))">
                            Edit
                        </FluentButton>
                        <FluentButton Type="ButtonType.Button"
                                      Appearance="Appearance.Outline"
                                      IconStart="@(new Icons.Filled.Size20.Delete())"
                                      OnClick="@(() => DeleteChannelAsync(channel))">
                            Delete
                        </FluentButton>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>
        }
    </FluentGrid>
</Loader>