@page "/streamings"

@inject IStringLocalizer<Resources.Common> CommonLocalizer
@inject IStringLocalizer<Resources.Pages.Streamings.Index> Localizer

@attribute [Authorize]

<PageLayout PageTitle="@Localizer[nameof(Resources.Pages.Streamings.Index.PageTitle)]">
	<Toolbar>
		<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
			<NavButton Label="@Localizer[nameof(Resources.Pages.Streamings.Index.ScheduleNewStreamingLabel)]"
					   Page="streamings/schedule" />
			
			<NavButton Label="Importa una diretta"
					   Page="streamings/import"/>
		</MudButtonGroup>
	</Toolbar>
	<PageContent>
		<MudPaper>
			<MudGrid>
				<MudItem></MudItem>
				<MudItem></MudItem>
				<MudItem></MudItem>
			</MudGrid>
		</MudPaper>
		<MudDivider Class="mb-3" />

		<MudPaper>
			<MudTable ServerData="LoadStreamingsAsync" @ref="table">
				<HeaderContent>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.TitleLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.DateLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.DurationLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.TwitchLinkLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.YoutubeVideoUrlLabel)]</MudTh>
					<MudTh>&nbsp;</MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.Title</MudTd>
					<MudTd>@context.ScheduledOn.ToShortDateString()</MudTd>
					<MudTd>@context.StartingTime.ToString("HH:mm") - @context.EndingTime.ToString("HH:mm")</MudTd>
					<MudTd><a href="@context.HostingChannelUrl" target="_blank">@context.HostingChannelUrl</a></MudTd>
					<MudTd>
						@if (string.IsNullOrWhiteSpace(context.YouTubeVideoUrl))
						{
							<span>-</span>
						}
						else
						{
							<a href="@context.YouTubeVideoUrl" target="_blank">@context.YouTubeVideoUrl</a>
						}
					</MudTd>
					<MudTd>
						<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
							<MudButton StartIcon="@Icons.Filled.RemoveRedEye" OnClick="() => OpenStreamingDetail(context)">@CommonLocalizer[nameof(Resources.Common.View)]</MudButton>
							<MudButton StartIcon="@Icons.Filled.Delete" OnClick="() => DeleteStreaming(context)">@CommonLocalizer[nameof(Resources.Common.Delete)]</MudButton>
						</MudButtonGroup>
					</MudTd>
				</RowTemplate>
				<NoRecordsContent>
					<MudText>@Localizer[nameof(Resources.Pages.Streamings.Index.NoStreamingsFoundLabel)] :(</MudText>
				</NoRecordsContent>
				<LoadingContent>
					<MudText>Loading...</MudText>
				</LoadingContent>
				<PagerContent>
					<MudTablePager />
				</PagerContent>
			</MudTable>
		</MudPaper>
	</PageContent>
</PageLayout>
