@page "/streamings"

@inject IStringLocalizer<Resources.Common> CommonLocalizer
@inject IStringLocalizer<Resources.Pages.Streamings.Index> Localizer

@attribute [Authorize]

<PageLayout PageTitle="@Localizer[nameof(Resources.Pages.Streamings.Index.PageTitle)]">
	<Toolbar>
		<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
			<NavButton Label="@Localizer[nameof(Resources.Pages.Streamings.Index.ScheduleNewStreamingLabel)]"
					   Page="streamings/schedule" />
			
			<NavButton Label="Importa una diretta"
					   Page="streamings/import"/>
		</MudButtonGroup>
	</Toolbar>
	<PageContent>
		<MudPaper>
			@if (model.Items is null)
			{
				<h2>@Localizer[nameof(Resources.Pages.Streamings.Index.NoStreamingsFoundLabel)] :(</h2>
			}
			else
			{
				<MudSimpleTable>
					<thead>
						<tr>
							<th>@Localizer[nameof(Resources.Pages.Streamings.Index.TitleLabel)]</th>
							<th>@Localizer[nameof(Resources.Pages.Streamings.Index.DateLabel)]</th>
							<th>@Localizer[nameof(Resources.Pages.Streamings.Index.DurationLabel)]</th>
							<th>@Localizer[nameof(Resources.Pages.Streamings.Index.TwitchLinkLabel)]</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var streaming in model.Items)
						{
							<tr>
								<td>@streaming.Title</td>
								<td>@streaming.ScheduledOn.ToShortDateString()</td>
								<td>@streaming.StartingTime.ToString("HH:mm") - @streaming.EndingTime.ToString("HH:mm")</td>
								<td><a href="@streaming.HostingChannelUrl" target="_blank">@streaming.HostingChannelUrl</a></td>
								<td>
									<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
										<MudButton StartIcon="@Icons.Filled.RemoveRedEye" OnClick="() => OpenStreamingDetail(streaming)">@CommonLocalizer[nameof(Resources.Common.View)]</MudButton>
										<MudButton StartIcon="@Icons.Filled.Delete" OnClick="() => DeleteStreaming(streaming)">@CommonLocalizer[nameof(Resources.Common.Delete)]</MudButton>
									</MudButtonGroup>
								</td>
							</tr>
						}
					</tbody>
				</MudSimpleTable>
			}
		</MudPaper>
	</PageContent>
</PageLayout>
