@page "/streamings"

@inject IStringLocalizer<UI.Resources.Common> CommonLocalizer
@inject IStringLocalizer<Resources.Pages.Streamings.Index> Localizer

@attribute [Authorize]

<PageLayout PageTitle="@Localizer[nameof(Resources.Pages.Streamings.Index.PageTitle)]">
	<Toolbar>
		<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
			<NavButton Label="@Localizer[nameof(Resources.Pages.Streamings.Index.ScheduleNewStreamingLabel)]"
					   Page="streamings/schedule" />

			<NavButton Label="@Localizer[nameof(Resources.Pages.Streamings.Index.ImportStreamingLabel)]"
					   Page="streamings/import" />
		</MudButtonGroup>
	</Toolbar>
	<PageContent>
		<MudPaper Class="mb-3">
			<MudGrid>
				<MudItem xs="12" md="4">
					<MudSelect T="StreamingQueryModel.SortDirection"
							   Variant="Variant.Outlined"
							   Label="@Localizer[nameof(Resources.Pages.Streamings.Index.StreamingQueryOrderLabel)]"
							   @bind-Value="query.ScheduleSort"
							   Strict="true"
							   AnchorOrigin="Origin.BottomCenter"
							   Dense="true"
							   Margin="Margin.Dense">
						@foreach (var sort in Enum.GetValues<StreamingQueryModel.SortDirection>())
						{
							<MudSelectItem T="StreamingQueryModel.SortDirection" Value="sort">@Localizer[sort.ToString()]</MudSelectItem>
						}
					</MudSelect>
				</MudItem>
				<MudItem xs="12" md="5">
					<MudTextField Margin="Margin.Dense"
								  Label="@Localizer[nameof(Resources.Pages.Streamings.Index.TitleLabel)]"
								  @bind-Value="query.Query"
								  Variant="Variant.Outlined"/>
				</MudItem>
				<MudItem xs="12" md="3">
					<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
						<MudIconButton OnClick="Search" Icon="@Icons.Material.Filled.Search" />
						<MudIconButton OnClick="ClearSearch" Icon="@Icons.Material.Filled.Clear" Variant="Variant.Outlined" />
					</MudButtonGroup>
				</MudItem>
			</MudGrid>
		</MudPaper>
		<MudDivider />

		<MudPaper>
			<MudTable ServerData="LoadStreamingsAsync" @ref="table">
				<HeaderContent>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.TitleLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.DateLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.DurationLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.TwitchLinkLabel)]</MudTh>
					<MudTh>@Localizer[nameof(Resources.Pages.Streamings.Index.YoutubeVideoUrlLabel)]</MudTh>
					<MudTh>&nbsp;</MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTd>@context.Title</MudTd>
					<MudTd>@context.ScheduledOn.ToShortDateString()</MudTd>
					<MudTd>@context.StartingTime.ToString("hh\\:mm") - @context.EndingTime.ToString("hh\\:mm")</MudTd>
					<MudTd><a href="@context.HostingChannelUrl" target="_blank">@context.HostingChannelUrl</a></MudTd>
					<MudTd>
						@if (string.IsNullOrWhiteSpace(context.YouTubeVideoUrl))
						{
							<span>-</span>
						}
						else
						{
							<a href="@context.YouTubeVideoUrl" target="_blank">@context.YouTubeVideoUrl</a>
						}
					</MudTd>
					<MudTd>
						<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
							<MudButton id="@($"openStreamingDetail-{context.Id}")" StartIcon="@Icons.Material.Filled.RemoveRedEye" OnClick="() => OpenStreamingDetail(context)">@CommonLocalizer[nameof(UI.Resources.Common.View)]</MudButton>
							<MudButton id="@($"deleteStreaming-{context.Id}")" StartIcon="@Icons.Material.Filled.Delete" OnClick="() => DeleteStreaming(context)">@CommonLocalizer[nameof(UI.Resources.Common.Delete)]</MudButton>
						</MudButtonGroup>
					</MudTd>
				</RowTemplate>
				<NoRecordsContent>
					<MudText>@Localizer[nameof(Resources.Pages.Streamings.Index.NoStreamingsFoundLabel)] :(</MudText>
				</NoRecordsContent>
				<LoadingContent>
					<MudText>Loading...</MudText>
				</LoadingContent>
				<PagerContent>
					<MudTablePager />
				</PagerContent>
			</MudTable>
		</MudPaper>
	</PageContent>
</PageLayout>
