@page "/streamings"
@attribute [Authorize]

<PageLayout PageTitle="My streamings">
    <Toolbar>
        <a href="streamings/schedule" class="btn btn-primary">Schedule new streaming</a>
    </Toolbar>
    <PageContent>
        <div class="row">
            <div class="col">
                @if (model.Items is null)
                {
                    <h2>No streamings here :(</h2>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Twitch link</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var live in model.Items)
                            {
                                <tr>
                                    <td>@live.Title</td>
                                    <td>@live.ScheduledOn.ToShortDateString()</td>
                                    <td>@live.StartingTime.ToString("HH:mm") - @live.EndingTime.ToString("HH:mm")</td>
                                    <td><a href="@live.HostingChannelUrl" target="_blank">@live.HostingChannelUrl</a></td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                            <button type="button" class="btn btn-outline-primary">
                                                <span class="fas fa-eye"></span> View
                                            </button>
                                            <button type="button" class="btn btn-outline-danger">
                                                <span class="fas fa-trash"></span> Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </PageContent>
</PageLayout>
